body{
    min-height: 100vh;
}
.container-home{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 20px;
}
.container-home p {
    color: white;
}
.logo{
    margin-top: 150px;
    text-decoration: none;
    opacity: 1;
}
.logo p{
    font-size: 90px;
    font-weight: bold;
    color: white;
    text-shadow: 5px 5px 20px pink;
    transition: 1s all ease;
    cursor: pointer;
}
.logo:hover{
    opacity: 0.7;
}